 body {
  height: 100%;
  width:100%;
  background-color: #dee3e6;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
  }

#wishList {
    max-width: 500px;
    padding: 15px;
    margin: auto;
    list-style-type: none;
}