body {
    height: 100%;
    width:100%;
    background-color: #ecf0f1;
  }
  
  body {
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 40px;
    
  }
  
  #nolistForm  {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  #nolistForm .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 8px;
    font-size: 16px;
    margin:3px;
  }

  #nolistForm input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
 


  #form {
    max-width: 500px;
    padding: 15px;
    margin: auto;
  }

  #form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 8px;
    font-size: 16px;
    margin:3px;
  }

  #editForm {
    max-width: 500px;
  }

  #editForm .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    margin-top:-10px;
    margin-bottom:-10px;
  }

  .editFormButtons {
    display: flex;
    margin-top: -30px;
    margin-bottom: 0px;
  }

  .editFormButtons .btn{
    padding-top:5px;
    padding-bottom: 5px;
    margin-right: 10px;
  }

  #wish-list {
    max-width: 500px;
    padding: 15px;
    margin: auto;
  }

  #wish-list .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
  }

  #srtbtns {
    margin:10px;
    text-align: center;
  }
